<header class="flex bg-green-700 w-full p-3 pl-4 justify-between items-center shadow-lg sticky top-0">
  <!-- Branding -->
  <a href="#" class="text-white font-sans font-bold text-2xl">Westlake Corner</a>
  <!-- Search bar -->
  <app-search-bar class="w-1/4"></app-search-bar>

  <!-- navigation links -->
  <nav>
    <ul class="flex justify-end gap-4">
      <li><a href="#" class="text-base font-semibold border-2 rounded-full p-2 px-4 bg-white text-green-700">Sign
          in</a></li>
      <li><a href="#" class="text-base font-semibold border-2 rounded-full p-2 px-4 bg-green-500 text-white">Sign
          up</a></li>
    </ul>
  </nav>

</header>
