<div class="flex flex-col justify-center rounded-2xl shadow-md overflow-hidden p-0 m-0">
  <span class="flex flex-grow items-center bg-gray-300 p-2 pl-4 font-bold text-gray-700">Sidebar</span>
  <p class="m-4">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis porta nunc, sit amet faucibus dolor vehicula
    maximus. Cras pharetra nisi nisi, eget pretium odio consequat vel. Morbi efficitur urna et ligula egestas vehicula.
    Curabitur iaculis metus non lacus volutpat ullamcorper. Mauris tellus neque, laoreet vitae ante et, sagittis dapibus
    purus. Sed ac erat in orci pharetra maximus id a arcu. Suspendisse neque urna, maximus in justo id, ultricies
    malesuada augue. Phasellus commodo sem ut nulla convallis, quis gravida diam ultrices. Donec quis gravida nulla.
  </p>
</div>
