<div
  class="hover:translate-y-2 flex flex-col-reverse content-end flex-nowrap flex-grow-1 rounded-2xl shadow-xl bg-cover bg-center bg-no-repeat p-6 h-full"
  style="background-image:linear-gradient(0deg,#000,rgba(0,0,0,.8) 25%,rgba(0,0,0,.6) 50%,rgba(0,0,0,.4) 75%,rgba(0,0,0,.2)), url('/assets/OpenRA.png') ">
  <h2 class="order-last flex-grow-0 text-left text-white text-4xl font-bold">Great post</h2>
  <p class="flex-grow-0 text-left text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis
    porta nunc, sit amet faucibus dolor vehicula
    maximus. Cras pharetra nisi nisi, eget pretium odio consequat vel.</p>
</div>

<!--
unmaintainable code
FIX: order-last with flex-col-reverse to put heading on top and description on
     the bottom
-->
